<!DOCTYPE html>
<html lang="en">
 <head>
 <title>URL Shortener</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./public/style/styles.css">
 </head>
 
 <body>
    <header>
        <h1>URL Shortener</h1>
        if shortUrl != null
            h2 Short Link: <a href=#{shortUrl}>https://url-shortenerr.herokuapp.com/#{shortUrl}</a>
    </header>
 

    <div class="page">
        <div class="form">
        <form method="POST" action="/shorten">
            <label>Link:</label>
            <input type="text" name="longUrl" placeholder="Paste a Link" required/>
            <label>Custom URL(6 chars long) (Optional)</label>
            <input type="text" name="customHash" placeholder="Custom Short Link"/>
            <label>Expiration Date & Time (default : 1 hr)</label>
            <input id="datefield" type="datetime-local" name="expiryDate"/>
            <button type="submit">Shorten</button>
        </form>
    </div>
    .form
        a(href = "/track")
            button Track

 </body>
</html>

