<!DOCTYPE html>
<html lang="en">
 <head>
 <title>URL Shortener</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./public/style/styles.css">
 </head>
 
 <body>
    <header><h1>URL Shortener Tracker</h1></header>
 

    <div class="login-page">
        <div class="form">
        <form class="login-form" method="post" action="/track">
            <input type="text" name="shortUrl" placeholder="Paste Shortened URL" required/>
            <button type="submit">Track</button>
        </form>
        </div>
    </div>

    <div class="form">
        <a href="/"><button>Home</button></a>
     </div>

 </body>
</html>
